<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29728.394822680333!2d74.86757448506084!3d21.34854846393982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdf2df9310caa83%3A0x11cf13f51b3b8d25!2sShirpur%2C%20Maharashtra%20425405!5e0!3m2!1sen!2sin!4v1607520430312!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
    </iframe>
</section>